.superAdmin{
    background: #E2D5D5;
    padding: 15px;
    width: 95%;
    margin-left: 15px;
    border-radius: 10px;
    border: 1px solid #AF9898;
    margin-bottom: 15px;
}

.status0{
  color:red;
}

.status1{
  color:green;
}