.blocDroit{
	border-radius: 10px;
	padding: 5px 10px;
	background: #eee;
	border: 1px solid #ccc;
	width: 25%;
	float:right;
	margin-left: 7px;
}

.blocGauche{
	border-radius: 10px;
	padding: 5px 10px;
	background: #eee;
	border: 1px solid #ccc;
	width: 25%;
	float:left;
	margin-right: 10px;
}

.blocCentre{
	border-radius: 10px;
	padding: 5px 10px;
	background: #eee;
	border: 1px solid #ccc;
	width: 65%;
	margin: 0 auto 7px;
}

.marker
{
	background-color: yellow;
}

h1, h2, h3{
  margin-top: 15px;
  margin-bottom: 10px;
}

h1{
	font-size:32px;
	color:rgb(81, 134, 183);
}

h2{
	font-size:28px;
	color:rgb(231, 52, 132);
}

h3{
	font-size: 25px;
	color:rgb(37, 131, 23);
}

.blocDroit h3,
.blocGauche h3
{
	font-size:14px;
	margin-top: 5px;
}

.tableauAcseh tbody tr:nth-child(odd) {
  background: rgb(208, 239, 212);
}

.tableauAcseh{
	border-collapse: collapse;
	border:0px;
}
.tableauAcseh tr{

}
.tableauAcseh td{
	padding: 15px;
	vertical-align: top;
}
img{
	border-radius:5px;
}

.readMore{
    float:right;
    background:lightyellow;
    padding:5px;
    border-radius:5px;
}

.spanGris{
	color:#666;
}