﻿
.navbar-inverse {
  background-color: #E9363C;
  border-color: #511c39;
}

.panel-default {
  border-color: #ffffff;
}

.panel-default>.panel-heading {
  color: #FFFFFF;
  background-color: #F26A6C;
  border-color: #dddddd;
  border-radius: 5px 5px 0 0;
}

h4, .h4 {
  font-size: 24px;
}

.introHome{
font-size: 20px;
}

.subIntroHome{
font-size: 16px;
}

.prenavbar {
 background: #282829;
}

.prenavbar a {
color:white;
}
body {
  padding-top: 50px;
  font-family: Lato, 'open sans bold', arial;
}

/*.Week{color: #e056cd;}
.Daily{	color: #57de4e; }
.Resto{	color: #de4e5a; }
.Music{	color: #BDA457;}
.News{	color: #5fa0e1;}*/

.what1{color : #e056cd;  background-color : #e056cd;}
.what2{ color : #57de4e;  background-color : #57de4e;}
.what3{ color : #de4e5a;  background-color : #de4e5a;}
.what4{ color : #BDA457;  background-color : #BDA457;}
.what5{  color : #5fa0e1;  background-color : #5fa0e1;}


.whereTransparent1{ background-color : rgba(224, 86, 205, 0.4);}
.whereTransparent2{ background-color : rgba(87, 222, 78, 0.4); }
.whereTransparent3{ background-color : rgba(222, 78, 90, 0.4); }
.whereTransparent4{ background-color : rgba(189, 164, 87, 0.4);}
.whereTransparent5{ background-color : rgba(95, 160, 225, 0.4);}

.titleTopFive{ color:#BC9F60; font-weight: bolder; font-size: 20px}
.textTopFive{ color:#BC9F60; font-size: 14px}
.labelInfoTopFive{ color:#BC9F60; font-weight: bold; padding-right:10px;}

.list-group-item {

  border: none;
   border-bottom: 2px solid #dddddd; 
}
.list-group-item:last-child{
   border-bottom: none;
}

.list-group-item:hover{
   /*cursor: pointer;*/
   background: #F8EBEB;
   border-radius: 4px;
}

.strong{
  font-weight: bold;
}

.diffSeconds{
  display:none;
}

.navbar-navy>li>a {
  padding-top: 0px;
  padding-bottom: 0px;
}
.navbar-navy>li {
  float:left;
  display: inline;
}
ul.navbar-navy {
  float:right;
}

/* SOCIAL BUTTONS */
.btn-social {
    color: white;
    opacity: 0.8;
}

    .btn-social:hover {
        color: white;
        opacity: 1;
        text-decoration: none;
    }

.btn-facebook {
    background-color: #3b5998;
}

.btn-twitter {
    background-color: #00aced;
}

.btn-linkedin {
    background-color: #0e76a8;
}

.btn-google {
    background-color: #c32f10;
}

.avatarImg{
    width: 22px;
  border-radius: 6px;
}

.domaineTopFive{
  float:left;
  font-size: 50px;
  width:80px;
}

a, a:hover{
  color:#BC9F60;
  text-decoration:none;
}


.vignette{
  float: right;
  margin-left: 15px;
  width: 150px;
}

.vignette img{
  height: 100px;
}


.bigPicture{
  width:100%;
  height: 440px;
  background-image: url("/assets/frontend/images/ppnight.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: -50%;
}

.winnerAdd{
  margin-top:30px;
  margin-left: 90px;
  padding:20px;
  height: 400px;
  color:#fff;
}
.titleWinnerAdd{
  color:#fff;
  font-size:70px;
  text-align: center;
  padding: 25px;
  font-weight: 900; 
  text-transform: uppercase;
  margin-top:15px;

}
.dateWinnerAdd{
color:#fff;
  padding: 25px;
  font-size:26px;
  font-weight: 900; 
  text-align: center;
 margin-top: 50px;
}


.winnerPicture{
  float:left;
}
.winnerPicture img{
  width:500px;
  height: 360px;
  border: 1px solid black;
}

.blockWinnerAdd{
    left: 140px;
    position: relative;
    float: right;
    width: 1000px;
    height: 350px;
    top: -350px;
    /*background-color: yellow;*/
}
.navbar-nav>li>a:hover,
.navbar-nav>li>a
 {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 15px;
    font-size: 20px;
    color: #67B1E9;
}

.navbar-nav>li>a.active,
.navbar-nav>li>a:hover{
background-color: #BC9F60;
color: #FFFFFF;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: #BC9F60;
    border-color: #dd4814;
    color: #fff;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #BC9F60;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
    background-color: #fff;
}

.iconMenu{
    margin-left: -10px;
    margin-right: 10px;
    font-size: 25px;
}

.strokeme
{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.headingTopFiveAdd{
  height: 250px;
  /*background: yellow !important;*/
  padding:25px 0 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
 /*-webkit-filter: blur(3px);
   -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);*/
}


.headingTopFiveAdd h3{
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  padding: 10px 10px;
  margin-top: -10px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

.headingTopFiveAdd h4{
  text-align: center;
  padding: 10px 10px;
}

.topFiveBottom{
  margin-top:60px;
}

.topFiveBottomLine{
  height: 3px;
  width:100%;
}
.bottomLogoPosition{
  margin-left: 41%;
  margin-top: -38px;
  font-size: 50px;
}

.bottomLogo{
  background: #fff !important;
}

.bodyTopFiveAdd {
  padding:0;
}
.bodyTopFiveAdd p{
  padding:10px;
}

.jumbotronError
{
  background: #FFB3B3;
  margin-top:  70px !important;
}

